.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  color: #FFEFBA;
  background: linear-gradient(to right, #34e89e, #0f3443);
}

.Weather .title {
  display: block;
  margin: 0 auto;
  font-family: 'Ribeye Marrow', cursive;
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0;
  line-height: 30px;
}

.Weather h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: #3e2929;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .unit {
  color: #3e2929;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.Weather .unit a {
  color: #FFEFBA;
}

button:active {
  background-color: #1a51d2;
  transform: translateY(3px);
}

.search-engine {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}


.btn,
.btn-search {
  background: #1a76d2;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(25, 156, 215, 0.67);
  color: #FFEFBA;

}

.btn {
  border-radius: 32px;
  margin-top: 1px;
  margin-right: 15px;
}

.btn:hover {
  background-color: #1a51d2;
}

.btn-search {
  width: 55px;
  height: 42px;
  border-radius: 0px 25px 25px 0px;
  margin-top: 30px;
}
.btn-search:hover {
  background-color: #1a51d2;
}

.type-city {
  height: 43px;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  color: #555555;

  border: 1px none #ffffff;
  box-sizing: border-box;
  border-radius: 25px 0px 0px 25px;

  padding: 10px;
}
